*.swp
*.a
*.o
*.out
*~
*.dat
.depend
EMOOPIC*
*.log
*.dvi
*latex/*.tex
*latex/*.md5
*latex/*.gz
*latex/*.toc
*latex/*.sty
*latex/Makefile
*latex/*.aux
*latex/*.idx
libconfig-1.5
test/*.tests*
test/*_test
test/*_unittests
*.bundle
.DS_store
hdf5-1.8.12
hdf5-1.8.12-parallel
*.h5
